/* Might have to adjust how the navbar is, or wll update this if necessary*/
.second-div-hero {
    height: 800px;
}   

.button-hero {
    width: 30%;
    color: white;
    background-color: black;
    height: 50px;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    transition: color 0.3s ease;
}

.button-hero:hover {
    color: black;
    background-color: rgb(201, 201, 201);
    
}

.image-features {
    width: 500px;
}